@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Application is created by Ananya Sharma<br /> 
    Please reach out to me with any questions or comments, 
    <a href="mailto:ananya.sharma2107@gmail.com">ananya.sharma2107@gmail.com</a>
</p>

